In [1]:
from twitter_data import TwitterData

train_filename = 'data_files/train.csv'
test_filename = 'data_files/test.csv'

twitter_train = TwitterData(train_filename)
twitter_test = TwitterData(test_filename, test_set=True)

In [2]:
from sklearn.compose import ColumnTransformer

fit_transform(X, y=None)

,id,keyword,location,text,target,doc_freq,ln_word_cnt,keyword_pop,location_pop
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,0.057305,1.609438,0,0.032417
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,0.476700,2.302585,0,0.081848
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,0.466956,2.197225,0,0.011461
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0,0.405207,1.945910,0,0.072486
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0,0.157563,2.564949,0,0.121292
...,...,...,...,...,...,...,...,...,...
7575,10826,wrecked,TN,On the bright side I wrecked http://t.co/uEa0t...,0,0.378386,1.945910,220,0.056147
7577,10829,wrecked,#NewcastleuponTyne #UK,@widda16 ... He's gone. You can relax. I thoug...,0,0.521318,3.044522,220,0.016208
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0,0.766602,2.995732,220,0.110526
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0,0.289716,2.484907,220,0.095890
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0,0.406663,2.564949,220,0.019851

In [2]:
from sklearn.ensemble import AdaBoostClassifier

clf = AdaBoostClassifier(n_estimators=100, random_state=0)
clf.fit(twitter_train.asmatrix, twitter_train.labels)

AdaBoostClassifier(n_estimators=100, random_state=0)

In [3]:
y = clf.predict(twitter_test.asmatrix)

In [4]:
y

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [11]:
import pandas as pd

n = len(twitter_test.df)

predicted_results = pd.DataFrame(columns=['id', 'target'])
predicted_results['id'] = twitter_test.df['id']
predicted_results['target'] = y
predicted_results.set_index('id', inplace=True)

In [12]:
predicted_results

       target
id
0           1
2           1
3           1
9           1
11          1
...       ...
10861       1
10865       1
10868       1
10874       1
10875       1

[3263 rows x 1 columns]

In [13]:
predicted_results.to_csv('dk_tw_results.csv')